
<h1>Projects</h1>

<ol>
  <% unless @project.blank? %>
    <% @project.each do |project| %>
      <li><%= link_to project.name, project_path(project) %></li>
    <% end %>
  <% end %>
</ol>

<%= link_to 'New Project', new_project_path %>
